---
layout: default
title: Will's Blog
---

{% for post in paginator.posts %}
  <div class="post post-list">
      <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
      <div style="color:#AAA;">{{ post.date | date_to_string }}</div>
    <div class="post-body">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
  {% endif %}
</div>
{% endif %}

<br>

<a href="/archive.html">Archive</a>
